/* Ipad Breakpoint */

@media screen and (min-width: 760px){
    :root {
        /* Arrow size */
        --ggs: 3;
    }

    /* Hero styles */
    .hero-intro {
        font-size: 48px;
    }

    .hero-sub, .hero-link, .text-highlight {
        font-size: 20px;
    }

    .hero-button {
        width: 200px;
        height: 60px;
    }

    .footer-contact, .footer-link {
        font-size: 16px;
    }

    /* About Styles */
    /* .about-header {
        font-size: 40px;
    } */

    .about-section {
        padding: 16px 0;
    }

    .section-header, .section-blurb {
        font-size: 20px;
    }

    /* Projects Styles */
    /* .projects-header {
        font-size: 40px;
    } */

    .projects-sub {
        font-size: 20px;
    }

    .slide-header {
        font-size: 28px;
    }

    .slide-blurb {
        font-size: 20px;
    }

}

/* Desktop Breakpoint */

@media screen and (min-width: 1200px){
    /* Hero Styles */
    .hero {
        width: 50vw;
        position: fixed;
        left: 0;
    }

    .hero-intro {
        font-size: 40px;
    }

    .about, .projects, .contact-me {
        width: 50vw;
        margin-left: 50vw;
        position: sticky;
        top: 0;
    }

    .projects {
        height: 101vh;
    }

    .gg-arrow-down {
        display: none;
    }

    .avatar {
        max-width: 150px;
    }

    .section-blurb {
        font-size: 16px;
        padding: 8px 40px;
    }

    .projects-sub {
        font-size: 16px;
    }


}